body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes colorchange {
    0%   { color: blue; }
    25%  { color: green; }
    50%  { color: red; }
    100% { color: orange; }
}

#year {
    font-size: 50px;
    text-align: center;
    font-weight: bold;  /* makes the text bold */
    color: blue;
    animation: colorchange 5s infinite;
}
